@import "tailwindcss";

@layer base {
  :root {
    --background: 24 24 27;
    --foreground: 244 244 245;
    --card: 39 39 42;
    --card-foreground: 244 244 245;
    --popover: 39 39 42;
    --popover-foreground: 244 244 245;
    --primary: 59 130 246;
    --primary-foreground: 248 250 252;
    --secondary: 63 63 70;
    --secondary-foreground: 244 244 245;
    --muted: 63 63 70;
    --muted-foreground: 161 161 170;
    --accent: 63 63 70;
    --accent-foreground: 244 244 245;
    --destructive: 239 68 68;
    --destructive-foreground: 248 250 252;
    --border: 63 63 70;
    --input: 63 63 70;
    --ring: 59 130 246;
    --radius: 0.5rem;
  }
}

@layer base {

}
